<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <!-- import des polices -->
        <link rel="stylesheet" href="../../stylesheets/polices_style.css" />
        <!-- style général -->
        <link rel="stylesheet" href="../../stylesheets/main_style.css" />
    </head>

    <body style="
        background : url('../../images/aur1_contact.jpg') no-repeat fixed center;
        background-size: cover;
    ">

        <!-- La barre horizontale supérieure de la fenêtre, elle contient
        quelques liens vers les autres sections et peut etre un fonction de
        recherche de machine -->
        <div id="main_top_barre">
            <div id="main_top_barre_contenu">
                <div class="align_middle"></div>
                <a href="../../" class="main_return"><img src="../../images/Retour_acceuil.svg"/></a>
                <a href="/section/<%= choice._id %>" class="main_top_bordered" style="order : <%= choice.ordre %>"><%= choice.nom %></a>
                <% for (var i = 0; i < no_choice.length; i++) { %>
                    <a href="/section/<%= no_choice[i]._id %>/gamme" class="main_top_bordered" style="order : <%= no_choice[i].ordre %>"><%= no_choice[i].nom %></a>
                <% } %>
            </div>
        </div>

        <!-- Le bandeau du menu et du logo de l'entreprise -->
        <div id="main_menu" style="
        background: -webkit-linear-gradient(right, rgba(255,255,255,0.0) 15% , <%= choice.couleur_light %> 50%,  <%= choice.couleur %> 95%), #bcb7b6 url('../../images/path4730.png');
        background: -o-linear-gradient(right, rgba(255,255,255,0.0) 15% , <%= choice.couleur_light %> 50%,  <%= choice.couleur %> 95%), #bcb7b6 url('../../images/path4730.png');
        background: -moz-linear-gradient(right, rgba(255,255,255,0.0) 15% , <%= choice.couleur_light %> 50%,  <%= choice.couleur %> 95%), #bcb7b6 url('../../images/path4730.png');
        background: linear-gradient(to right, rgba(255,255,255,0.0) 15% , <%= choice.couleur_light %> 50%,  <%= choice.couleur %> 95%), #bcb7b6 url('../../images/path4730.png');
        ">
            <div id="main_menu_contenu">
                <a href="/section/<%= choice._id %>" id="main_menu_img"></a>
                <ul>
                    <li class="li_<%= choice.nom_class %>">
                        <a href="/section/<%= choice._id %>/presentation">
                            <span class="menu_titre">Présentation</span>
                            <div class="menu_effet_bouton">
                                <div></div>
                            </div>
                        </a>

                    </li>
                    <li class="li_<%= choice.nom_class %>">
                        <a href="/section/<%= choice._id %>">
                            <span class="menu_titre">Les Actualités</span>
                            <div class="menu_effet_bouton">
                                <div></div>
                            </div>
                        </a>
                    </li>
                    <li class="li_<%= choice.nom_class %>">
                        <a href="/section/<%= choice._id %>/gamme">
                            <span class="menu_titre">La Gamme</span>
                            <span class="bouton_gamme_section"><%= choice.nom %></span>
                            <div class="menu_effet_bouton">
                                <div></div>
                            </div>
                        </a>

                    </li>
                    <li class="li_<%= choice.nom_class %>">
                        <a href="/section/<%= choice._id %>/occasions">
                            <span class="menu_titre">Les Occasions</span>
                            <div class="menu_effet_bouton">
                                <div></div>
                            </div>
                        </a>

                    </li>
                    <li class="li_<%= choice.nom_class %>">
                        <a href="/section/<%= choice._id %>/contact">
                            <span class="menu_titre">Contact</span>
                            <div class="menu_effet_bouton">
                                <div></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- le bandeau qui représente la section choisi -->
        <div id="main_section" style="
        background: url('../../images/path_hexagone.png') repeat, linear-gradient(240deg, rgba(255,255,255,0.0) 20% , <%= choice.couleur_light %> 45%,  <%= choice.couleur %> 85%), url('../../images/contact_img2.jpg') no-repeat right;
        background-size: auto, auto, contain;
        ">
            <div id="main_section_titre" >Contact</div>

        </div>

        <!-- Contenu de la page d'acceuil, news, présentation, ... -->
        <!-- dev work's -->
        <div class="main_content">
            <div id="presentation_corps">

                <h3>
                    <div class="h3_partie_sup">
                        <div class="h3_partie_gauche">
                            <div class="h3_1" style="
                            background-color : <%= choice.couleur_light %>;
                            "></div>
                            <div class="h3_2" style="
                            background-color : <%= choice.couleur_light %>;
                            "></div>
                            <div class="h3_3" style="
                            background-color : <%= choice.couleur %>;
                            "></div>
                        </div>
                        <span class="h3_titre">Nos coordonnées</span>
                    </div>
                    <div class="h3_ligne_bottom" style="
                    background : linear-gradient(to left, rgba(255,255,255,0.0) 20% , <%= choice.couleur_light %> 45%,  <%= choice.couleur %> 85%);
                    "></div>
                </h3>
                <div class="contact_coordonnees">
                    <span>Z.I.A de Belle Fontaine</span>
                    <span>44270 PAULX</span>
                    <span>Tèl  : 02 51 70 08 08</span>
                    <span>Fax  : 02 51 70 09 93</span>
                    <span>mail : aur1.ww@gmail.com</span>
                </div>


                <h3>
                    <div class="h3_partie_sup">
                        <div class="h3_partie_gauche">
                            <div class="h3_1" style="
                            background-color : <%= choice.couleur_light %>;
                            "></div>
                            <div class="h3_2" style="
                            background-color : <%= choice.couleur_light %>;
                            "></div>
                            <div class="h3_3" style="
                            background-color : <%= choice.couleur %>;
                            "></div>
                        </div>
                        <span class="h3_titre">Localisation</span>
                    </div>
                    <div class="h3_ligne_bottom" style="
                    background : linear-gradient(to left, rgba(255,255,255,0.0) 20% , <%= choice.couleur_light %> 45%,  <%= choice.couleur %> 85%);
                    "></div>
                </h3>

                <div class="contact_localisation">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9157.87580342091!2d-1.76303678917023!3d46.96851200525761!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805ba83a07cedf1%3A0x8961e1bee17376ee!2s34+Rue+de+Belle-Fontaine%2C+44270+Paulx!5e0!3m2!1sfr!2sfr!4v1443613806055" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

                    <div>
                        Attention !!!
                        la Z.I.A de Belle Fontaine n'est pour le moment pas encore cartographiée par les services Googple maps, l'adresse la plus proche paramêtrable sur un GPS est le 34 rue de Belle Fontaine.
                    </div>

                </div>

                <h3>
                    <div class="h3_partie_sup">
                        <div class="h3_partie_gauche">
                            <div class="h3_1" style="
                            background-color : <%= choice.couleur_light %>;
                            "></div>
                            <div class="h3_2" style="
                            background-color : <%= choice.couleur_light %>;
                            "></div>
                            <div class="h3_3" style="
                            background-color : <%= choice.couleur %>;
                            "></div>
                        </div>
                        <span class="h3_titre">Formulaire de contact</span>
                    </div>
                    <div class="h3_ligne_bottom" style="
                    background : linear-gradient(to left, rgba(255,255,255,0.0) 20% , <%= choice.couleur_light %> 45%,  <%= choice.couleur %> 85%);
                    "></div>
                </h3>

                <form method="post" action="/section/<%= choice._id %>/contact_reponse" id="formulaire_contact">

                    <!-- La civilité -->
                    <div class="form_formulaire">
                        <div class="form_valid"></div>
                        <div class="form_texte">
                            <label class="champ_carac_form">Civilité</label>
                            <div>
                                <input type="radio" name="contact_civ" value="Mr" id="contact_mr" checked="checked"/> <label for="contact_mr">Mr</label>
                                <input type="radio" name="contact_civ" value="Mme" id="contact_mme" /> <label for="contact_mme">Mme</label>
                            </div>
                            <span>*Champ obligatoire ou incorrect</span>
                        </div>
                    </div>

                    <!-- Le nom -->
                    <div class="form_formulaire">
                        <div class="form_valid active"></div>
                        <div class="form_texte">
                            <label class="champ_carac_form" for="contact_nom">Nom</label>
                            <input type="text" name="contact_nom" id="contact_nom"/>
                            <span>*Champ obligatoire</span>
                        </div>
                    </div>

                    <!-- Le prénom -->
                    <div class="form_formulaire">
                        <div class="form_valid"></div>
                        <div class="form_texte">
                            <label class="champ_carac_form" for="contact_prenom">Prénom</label>
                            <input type="text" name="contact_prenom" id="contact_prenom"/>
                            <span>*Champ obligatoire</span>
                        </div>
                    </div>

                    <!-- Société -->
                    <div class="form_formulaire">
                        <div class="form_valid active"></div>
                        <div class="form_texte">
                            <label class="champ_carac_form" for="contact_nom">Société</label>
                            <input type="text" name="contact_societe" id="contact_societe"/>
                            <span>*Champ obligatoire</span>
                        </div>
                    </div>

                    <!-- Le mail -->
                    <div class="form_formulaire">
                        <div class="form_valid active"></div>
                        <div class="form_texte">
                            <label class="champ_carac_form" for="contact_mail">e-mail</label>
                            <input type="text" name="contact_mail" id="contact_mail" data-regexp="email" data-error="Format email"/>
                            <span>*Champ incorrect</span>
                        </div>
                    </div>

                    <!-- Le  téléphone -->
                    <div class="form_formulaire">
                        <div class="form_valid active"></div>
                        <div class="form_texte">
                            <label class="champ_carac_form" for="contact_tel">Téléphone</label>
                            <input type="text" name="contact_tel" id="contact_tel"/>
                            <span>*Champ incorrect</span>
                        </div>
                    </div>

                    <!-- Le sujet -->
                    <div class="form_formulaire">
                        <div class="form_valid active"></div>
                        <div class="form_texte">
                            <label class="champ_carac_form" for="contact_sujet">Sujet</label>
                            <input type="text" name="contact_sujet" id="contact_sujet" data-required="true"/>
                            <span>*Champ obligatoire</span>
                        </div>
                    </div>

                    <!-- Le message -->
                    <div class="form_formulaire">
                        <div class="form_valid active"></div>
                        <div class="form_texte">
                            <label class="champ_carac_form" for="contact_message">Message</label>
                            <textarea name="contact_message" id="contact_message"></textarea>
                            <span>*Champ obligatoire</span>
                        </div>
                    </div>

                    <!-- Le bouton d'envoi -->
                    <div class="form_formulaire">
                        <div class="form_valid"></div>
                        <div class="form_texte">
                            <input class="champ_carac_form" type="submit" value="Envoyer" id="contact_bouton"/>
                        </div>
                    </div>

                    <!-- message de retour d'envoi -->
                    <div class="form_formulaire" id="reponse_mail">
                        <div class="form_valid"></div>
                        <div class="form_texte">
                            <div id="message_mail"></div>
                        </div>
                    </div>



                </form>

            </div>
        </div>


        <!-- La bannière en bas de page -->
        <footer>
            <div id="main_pied_page">
                <div id="footer_contact">
                    <img src="../../images/aur1_logo_small.png"/>
                    <span id="footer_contact_texte">
                        <h3>
                            <div class="h3_partie_sup">
                                <div class="h3_partie_gauche">
                                    <div class="h3_1" style="
                                    background-color : <%= choice.couleur_light %>;
                                    "></div>
                                    <div class="h3_2" style="
                                    background-color : <%= choice.couleur_light %>;
                                    "></div>
                                    <div class="h3_3" style="
                                    background-color : <%= choice.couleur %>;
                                    "></div>
                                </div>
                                <span class="h3_titre" id="titre_meteo">Coordonnées</span>
                            </div>
                            <div class="h3_ligne_bottom" style="
                            background : linear-gradient(to left, rgba(255,255,255,0.0) 20% , <%= choice.couleur_light %> 45%,  <%= choice.couleur %> 85%);
                            "></div>
                        </h3>
                        <span>Z.I.A de Belle Fontaine</span>
                        <span>44270 PAULX</span>
                        <span>Tèl  : 02 51 70 08 08</span>
                        <span>Fax  : 02 51 70 09 93</span>
                        <span>mail : aur1.ww@gmail.com</span>
                    </span>
                </div>
                <div id="footer_interlocuteur">
                    <h3>
                        <div class="h3_partie_sup">
                            <div class="h3_partie_gauche">
                                <div class="h3_1" style="
                                background-color : <%= choice.couleur_light %>;
                                "></div>
                                <div class="h3_2" style="
                                background-color : <%= choice.couleur_light %>;
                                "></div>
                                <div class="h3_3" style="
                                background-color : <%= choice.couleur %>;
                                "></div>
                            </div>
                            <span class="h3_titre" id="titre_meteo">Vos interlocuteurs</span>
                        </div>
                        <div class="h3_ligne_bottom" style="
                        background : linear-gradient(to left, rgba(255,255,255,0.0) 20% , <%= choice.couleur_light %> 45%,  <%= choice.couleur %> 85%);
                        "></div>
                    </h3>
                    <table>
                        <tr>
                            <td class="footer_italic">Commercial :</td>
                            <td class="footer_name">Dominique</td>
                            <td><div class="footer_puce"></div></td>
                            <td>06 33 70 57 59</td>
                        </tr>
                        <tr>
                            <td class="footer_italic">Technique :</td>
                            <td class="footer_name">Pierrick</td>
                            <td><div class="footer_puce"></div></td>
                            <td>06 76 09 78 01</td>
                        </tr>
                    </table>
                </div>
                <div id="footer_plan_site">
                    <h3>
                        <div class="h3_partie_sup">
                            <div class="h3_partie_gauche">
                                <div class="h3_1" style="
                                background-color : <%= choice.couleur_light %>;
                                "></div>
                                <div class="h3_2" style="
                                background-color : <%= choice.couleur_light %>;
                                "></div>
                                <div class="h3_3" style="
                                background-color : <%= choice.couleur %>;
                                "></div>
                            </div>
                            <span class="h3_titre" id="titre_meteo">Plan du site</span>
                        </div>
                        <div class="h3_ligne_bottom" style="
                        background : linear-gradient(to left, rgba(255,255,255,0.0) 20% , <%= choice.couleur_light %> 45%,  <%= choice.couleur %> 85%);
                        "></div>
                    </h3>
                    <table>
                        <tr>
                            <td><a href="/">Index</a></td>
                            <td><a href="/section/<%= choice._id %>"><%= choice.nom %></a></td>
                        </tr>
                        <tr>
                            <td><a href="/section/<%= no_choice[0]._id %>"><%= no_choice[0].nom %></a></td>
                            <td><a href="/section/<%= no_choice[1]._id %>"><%= no_choice[1].nom %></a></td>
                        </tr>
                        <tr>
                            <td><a href="/section/<%= no_choice[2]._id %>"><%= no_choice[2].nom %></a></td>
                            <td><a href="/section/<%= choice._id %>/presentation">Présentation</a></td>
                        </tr>
                        <tr>
                            <td><a href="/section/<%= choice._id %>/news">actualités</a></td>
                            <td><a href="/section/<%= choice._id %>/occasions">Occasions</a></td>

                        </tr>
                        <tr>
                            <td><a href="/section/<%= choice._id %>/gamme">Gamme</a></td>
                            <td><a href="/section/<%= choice._id %>/contact">Contact</a></td>
                        </tr>

                    </table>
                </div>
            </div>
        </footer>

        <!-- Appel du script Jquery -->
        <script src="../../javascripts/jquery.js"></script>
        <!-- Appel des plugins et scripts contextuel -->
        <script src="../../javascripts/contact.js"></script>
        <script src="../../javascripts/section.js"></script>

    </body>

</html>
