<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <!-- import des polices -->
        <link rel="stylesheet" href="../../stylesheets/polices_style.css" />
        <!-- style général -->
        <link rel="stylesheet" href="../../stylesheets/main_style.css" />
    </head>

    <body style="
        background : url('../../images/aur1_presentation.jpg') no-repeat fixed center;
        background-size: cover;
    ">

        <!-- La barre horizontale supérieure de la fenêtre, elle contient
        quelques liens vers les autres sections et peut etre un fonction de
        recherche de machine -->
        <div id="main_top_barre">
            <div id="main_top_barre_contenu">
                <a href="../../" class="main_return"><img src="../../images/Retour_acceuil.svg"/></a>
                <a href="/section/<%= choice._id %>" class="main_top_bordered" style="order : <%= choice.ordre %>"><%= choice.nom %></a>
                <% for (var i = 0; i < no_choice.length; i++) { %>
                    <a href="/section/<%= no_choice[i]._id %>/gamme" class="main_top_bordered" style="order : <%= no_choice[i].ordre %>"><%= no_choice[i].nom %></a>
                <% } %>
            </div>
        </div>

        <!-- Le bandeau du menu et du logo de l'entreprise -->
        <div id="main_menu" style="
        background: -webkit-linear-gradient(right, rgba(255,255,255,0.0) 15% , <%= choice.couleur_light %> 50%,  <%= choice.couleur %> 95%), #bcb7b6 url('../../images/path4730.png');
        background: -o-linear-gradient(right, rgba(255,255,255,0.0) 15% , <%= choice.couleur_light %> 50%,  <%= choice.couleur %> 95%), #bcb7b6 url('../../images/path4730.png');
        background: -moz-linear-gradient(right, rgba(255,255,255,0.0) 15% , <%= choice.couleur_light %> 50%,  <%= choice.couleur %> 95%), #bcb7b6 url('../../images/path4730.png');
        background: linear-gradient(to right, rgba(255,255,255,0.0) 15% , <%= choice.couleur_light %> 50%,  <%= choice.couleur %> 95%), #bcb7b6 url('../../images/path4730.png');
        ">
            <div id="main_menu_contenu">
                <a href="/section/<%= choice._id %>" id="main_menu_img"></a>
                <ul>
                    <li class="li_<%= choice.nom_class %>">
                        <a href="/section/<%= choice._id %>/presentation">
                            <span class="menu_titre">Présentation</span>
                            <div class="menu_effet_bouton">
                                <div></div>
                            </div>
                        </a>

                    </li>
                    <li class="li_<%= choice.nom_class %>">
                        <a href="/section/<%= choice._id %>">
                            <span class="menu_titre">Les Actualités</span>
                            <div class="menu_effet_bouton">
                                <div></div>
                            </div>
                        </a>
                    </li>
                    <li class="li_<%= choice.nom_class %>">
                        <a href="/section/<%= choice._id %>/gamme">
                            <span class="menu_titre">La Gamme</span>
                            <span class="bouton_gamme_section"><%= choice.nom %></span>
                            <div class="menu_effet_bouton">
                                <div></div>
                            </div>
                        </a>

                    </li>
                    <li class="li_<%= choice.nom_class %>">
                        <a href="/section/<%= choice._id %>/occasions">
                            <span class="menu_titre">Les Occasions</span>
                            <div class="menu_effet_bouton">
                                <div></div>
                            </div>
                        </a>

                    </li>
                    <li class="li_<%= choice.nom_class %>">
                        <a href="/section/<%= choice._id %>/contact">
                            <span class="menu_titre">Contact</span>
                            <div class="menu_effet_bouton">
                                <div></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- le bandeau qui représente la section choisi -->
        <div id="main_section" style="
        background: url('../../images/path_hexagone.png') repeat, linear-gradient(240deg, rgba(255,255,255,0.0) 20% , <%= choice.couleur_light %> 45%,  <%= choice.couleur %> 85%), url('../../images/aur1_presentation_img3.JPG') no-repeat right;
        background-size: auto, auto, contain;
        ">
            <div id="main_section_titre" >Mentions légales</div>

        </div>

        <!-- Contenu de la page d'acceuil, news, présentation, ... -->
        <!-- dev work's -->
        <div class="main_content">
            <div id="presentation_corps">
                <p>Merci de lire attentivement les présentes modalités d'utilisation du présent site avant de le parcourir. En vous connectant sur ce site, vous acceptez sans réserve les présentes modalités.</p>
                <h4>
                    <div class="h4_partie_gauche" style="
                    background-color : <%= choice.couleur %>;
                    "></div>
                    <span class="h4_titre">Conditions d'utilisations</span>
                    <div class="h4_partie_droite" style="
                    background : linear-gradient(to left, rgba(255,255,255,0.0) 20% , <%= choice.couleur_light %> 45%,  <%= choice.couleur %> 85%);
                    "></div>
                </h4>
                <p>Le site accessible par les url suivants : www.aur1.fr est exploité dans le respect de la législation française. L'utilisation de ce site est régie par les présentes conditions générales. En utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées. Celles-ci pourront êtres modifiées à tout moment et sans préavis par la société. Ne saurait être tenu pour responsable en aucune manière d’une mauvaise utilisation du service.</p>

            </div>
        </div>


        <!-- La bannière en bas de page -->
        <footer>
            <div id="main_pied_page">
                <div id="footer_contact">
                    <img src="../../images/aur1_logo_small.png"/>
                    <span id="footer_contact_texte">
                        <h3>
                            <div class="h3_partie_sup">
                                <div class="h3_partie_gauche">
                                    <div class="h3_1" style="
                                    background-color : <%= choice.couleur_light %>;
                                    "></div>
                                    <div class="h3_2" style="
                                    background-color : <%= choice.couleur_light %>;
                                    "></div>
                                    <div class="h3_3" style="
                                    background-color : <%= choice.couleur %>;
                                    "></div>
                                </div>
                                <span class="h3_titre" id="titre_meteo">Coordonnées</span>
                            </div>
                            <div class="h3_ligne_bottom" style="
                            background : linear-gradient(to left, rgba(255,255,255,0.0) 20% , <%= choice.couleur_light %> 45%,  <%= choice.couleur %> 85%);
                            "></div>
                        </h3>
                        <span>Z.I.A de Belle Fontaine</span>
                        <span>44270 PAULX</span>
                        <span>Tèl  : 02 51 70 08 08</span>
                        <span>Fax  : 02 51 70 09 93</span>
                        <span>mail : aur1.ww@gmail.com</span>
                    </span>
                </div>
                <div id="footer_interlocuteur">
                    <h3>
                        <div class="h3_partie_sup">
                            <div class="h3_partie_gauche">
                                <div class="h3_1" style="
                                background-color : <%= choice.couleur_light %>;
                                "></div>
                                <div class="h3_2" style="
                                background-color : <%= choice.couleur_light %>;
                                "></div>
                                <div class="h3_3" style="
                                background-color : <%= choice.couleur %>;
                                "></div>
                            </div>
                            <span class="h3_titre" id="titre_meteo">Vos interlocuteurs</span>
                        </div>
                        <div class="h3_ligne_bottom" style="
                        background : linear-gradient(to left, rgba(255,255,255,0.0) 20% , <%= choice.couleur_light %> 45%,  <%= choice.couleur %> 85%);
                        "></div>
                    </h3>
                    <table>
                        <tr>
                            <td class="footer_italic">Commercial :</td>
                            <td class="footer_name">Dominique</td>
                            <td><div class="footer_puce"></div></td>
                            <td>06 33 70 57 59</td>
                        </tr>
                        <tr>
                            <td class="footer_italic">Technique :</td>
                            <td class="footer_name">Pierrick</td>
                            <td><div class="footer_puce"></div></td>
                            <td>06 76 09 78 01</td>
                        </tr>
                    </table>
                </div>
                <div id="footer_plan_site">
                    <h3>
                        <div class="h3_partie_sup">
                            <div class="h3_partie_gauche">
                                <div class="h3_1" style="
                                background-color : <%= choice.couleur_light %>;
                                "></div>
                                <div class="h3_2" style="
                                background-color : <%= choice.couleur_light %>;
                                "></div>
                                <div class="h3_3" style="
                                background-color : <%= choice.couleur %>;
                                "></div>
                            </div>
                            <span class="h3_titre" id="titre_meteo">Plan du site</span>
                        </div>
                        <div class="h3_ligne_bottom" style="
                        background : linear-gradient(to left, rgba(255,255,255,0.0) 20% , <%= choice.couleur_light %> 45%,  <%= choice.couleur %> 85%);
                        "></div>
                    </h3>
                    <table>
                        <tr>
                            <td><a href="/">Index</a></td>
                            <td><a href="/section/<%= choice._id %>"><%= choice.nom %></a></td>
                        </tr>
                        <tr>
                            <td><a href="/section/<%= no_choice[0]._id %>"><%= no_choice[0].nom %></a></td>
                            <td><a href="/section/<%= no_choice[1]._id %>"><%= no_choice[1].nom %></a></td>
                        </tr>
                        <tr>
                            <td><a href="/section/<%= no_choice[2]._id %>"><%= no_choice[2].nom %></a></td>
                            <td><a href="/section/<%= choice._id %>/presentation">Présentation</a></td>
                        </tr>
                        <tr>
                            <td><a href="/section/<%= choice._id %>/news">actualités</a></td>
                            <td><a href="/section/<%= choice._id %>/occasions">Occasions</a></td>

                        </tr>
                        <tr>
                            <td><a href="/section/<%= choice._id %>/gamme">Gamme</a></td>
                            <td><a href="/section/<%= choice._id %>/contact">Contact</a></td>
                        </tr>

                    </table>
                </div>
            </div>
        </footer>


        <!-- Appel du script Jquery -->
        <script src="../../javascripts/jquery.js"></script>
        <!-- Appel des scripts contextuel -->
        <script src="../../javascripts/section.js"></script>
    </body>

</html>
